.lexicon__entries {
	scroll-margin-top: var(--layout-scroll-header-lexicon-controls-offset);
}

.lexicon__section {
	position: relative;
	scroll-margin-top: var(--layout-scroll-header-lexicon-controls-offset);
}

.lexicon__section-title {
	color: var(--color-text-disabled);
}

.lexicon__section-title--category {
	color: var(--color-text-secondary);
}

@media (min-width: 768px) {
	.lexicon__section-title {
		height: fit-content;
		position: sticky;
		top: var(--layout-scroll-header-lexicon-controls-offset);
	}
}

.term {
	margin-bottom: 0;
	scroll-margin-top: var(--layout-scroll-header-lexicon-controls-offset);
}

.term__pronunciation,
.term__aliases {
	color: var(--color-text-secondary);
	margin-bottom: 0.5rem;
}

.term__description {
	color: var(--color-text-secondary);
}
