.regions-nav {
	align-self: start;
	background-color: var(--color-background-primary);
	padding-top: 1rem;
	position: sticky;
	top: var(--layout-header-height);
	z-index: var(--z-sticky);

	@media (min-width: 768px) {
		padding-block: 0;
		top: var(--layout-scroll-header-offset);

		.custom-dropdown {
			display: none;
		}
	}
}

.regions-nav-list {
	display: none;

	@media (min-width: 768px) {
		display: flex;
		flex-direction: column;
	}
}

.regions-nav-link {
	white-space: nowrap;

	@media (min-width: 768px) {
		border-bottom: 1px solid var(--color-border-primary);
		border-left: 5px solid transparent;
		justify-content: flex-start;
		padding: 1rem ;
		width: 100%;

		&:not(:disabled):hover,
		&:not(:disabled):focus {
			background: var(--color-background-secondary);
		}

		&.active {
			background: var(--color-background-secondary-alt);
			border-bottom-color: var(--color-border-primary);
			border-bottom-width: 1px;
			border-left-color: var(--color-button-tertiary-border-active);
		}
	}
}
