/* Overall container for entire region */
.region {
	border-bottom: 2px solid var(--color-border-accent);
	display: flex;
	flex-direction: column;
	gap: var(--grid-gap);
	margin-bottom: 4rem;
	scroll-margin-top: var(--layout-scroll-header-offset);

	@media (min-width: 1024px) {
		margin-bottom: 6rem;
	}
}

/* Container for title, description & legal content */
.region-header-content {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}


/* Title & description block */
.region-title {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.region-title-name {
	font-family: var(--font-body);
	font-size: var(--font-size-heading-xl);
	font-weight: var(--font-weight-bold);
	line-height: var(--line-height-tight);
}

.region-title-description {
	color: var(--color-text-secondary);
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	list-style: none;
	margin: 0;
	padding: 0;
	text-transform: none;
}

.region-title-description-item {
	margin: 0;
}

@media (min-width: 768px) {
	.region-title-description {
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 0.5rem;
	}

	.region-title-description-item + .region-title-description-item {
		align-items: center;
		display: flex;
	}

	.region-title-description-item + .region-title-description-item::before {
		content: "•";
		margin-right: 0.5rem;
	}
}

/* Legal info block */
.region-legal {
	display: flex;
	flex-direction: column;
	padding: 1.5rem;

	.list-reset {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	:last-child {
		margin-bottom: 0;
	}
}

.region-legal-title-icon {
	height: 1.5em;
	width: 1.5em;
}

.region-legal-list {
	border-bottom: 1px solid var(--color-border-primary);
	border-top: 1px solid var(--color-border-primary);
	list-style: none;
	margin: 0 0 1rem 0;
	padding: 1rem 0;
}

.region-bottle {
	display: block;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	max-height: 35dvh;
	max-width: 70%;
	mix-blend-mode: multiply;
	object-fit: contain;
	transition: transform 0.5s ease;
	width: 100%;

	@media (min-width: 1024px) {
		max-height: 100%;
	}
}
