.regions-container {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

@media (min-width: 768px) {
	.regions-container {
		flex-direction: row;
	}
}

.region {
	border-bottom: 2px solid var(--color-border-accent);
	margin-bottom: 4rem;
	scroll-margin-top: var(--layout-scroll-header-offset);

	@media (min-width: 1024px) {
		margin-bottom: 6rem;
	}
}
