.story {
	padding-bottom: var(--grid-gap);

	@media (min-width: 1024px) {
		align-items: center;
	}

	:last-child {
		margin-bottom: 0;
	}
}

.story-image {
	margin: auto;
	mix-blend-mode: multiply;
	width: 400px;
}
