.nav__menu-btn {
	display: none;
}

@media (max-width: 1023px) {
	.nav__buttons {
		display: none;
	}

	.auth {
		margin-left: auto;
	}

	.nav__menu-btn {
		display: inline-flex;
	}
}

.drawer-nav {
	.drawer__body {
		padding: 0;
	}
}

.drawer-nav__links {
	display: flex;
	flex-direction: column;
}

.drawer-nav__link {
	border-bottom: 1px solid var(--color-border-primary);
	border-left: 5px solid transparent;
	font-size: var(--font-size-body-md);
	justify-content: flex-start;
	padding: 1rem 1.5rem;
	width: 100%;

	&.is-active {
		background: var(--color-background-secondary);
		border-bottom-color: var(--color-border-primary);
		border-bottom-width: 1px;
		border-left-color: var(--color-button-tertiary-border-active);
	}
}
