.theme--accent {
	--color-background-primary: var(--color-palette-brown-400);
	--color-border-primary: var(--color-palette-cream-50-alpha-50);
	--color-text-primary: var(--color-palette-cream-50-alpha-80);
	--color-text-secondary: var(--color-palette-white);
	--color-text-accent: var(--color-palette-white);

	/* Buttons - Primary */
	--color-button-primary-background: var(--color-palette-cream-50-alpha-80);
	--color-button-primary-background-hover: var(--color-palette-white);
	--color-button-primary-background-active:  var(--color-palette-cream-50-alpha-80);
	--color-button-primary-border: var(--color-palette-transparent);
	--color-button-primary-border-hover: var(--color-palette-transparent);
	--color-button-primary-border-active: var(--color-palette-transparent);
	--color-button-primary-text: var(--color-palette-brown-400);
	--color-button-primary-text-hover: var(--color-palette-brown-400);
	--color-button-primary-text-active: var(--color-palette-brown-400);

	/* Buttons - Secondary */
	--color-button-secondary-background: var(--color-palette-transparent);
	--color-button-secondary-background-hover: var(--color-palette-white);
	--color-button-secondary-background-active: var(--color-palette-cream-50-alpha-80);
	--color-button-secondary-border: var(--color-palette-cream-50-alpha-80);
	--color-button-secondary-border-hover: var(--color-palette-transparent);
	--color-button-secondary-border-active: var(--color-palette-transparent);
	--color-button-secondary-text: var(--color-palette-cream-50-alpha-80);
	--color-button-secondary-text-hover: var(--color-palette-brown-400);
	--color-button-secondary-text-active: var(--color-palette-brown-400);

	/* Buttons - Tertiary */
	--color-button-tertiary-background: var(--color-palette-transparent);
	--color-button-tertiary-background-hover: var(--color-palette-transparent);
	--color-button-tertiary-background-active: var(--color-palette-transparent);
	--color-button-tertiary-border: var(--color-palette-transparent);
	--color-button-tertiary-border-hover: var(--color-palette-white);
	--color-button-tertiary-border-active: var(--color-palette-white);
	--color-button-tertiary-text: var(--color-palette-cream-50-alpha-80);
	--color-button-tertiary-text-hover: var(--color-palette-white);
	--color-button-tertiary-text-active: var(--color-palette-white);

	background-color: var(--color-background-primary);
	color: var(--color-text-primary);
}

.theme--accent :where(strong, b) {
	color: var(--color-text-secondary);
}
